<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freshshare.mapper.POrderMapper">

    <update id="completeOrder" parameterType="com.freshshare.controller.Dto.OrderDto">
        UPDATE  transaction
        SET

            order_status = 'complete'

        WHERE
            order_id = #{order_id}
    </update>

    <update id="cancelOrder" parameterType="com.freshshare.controller.Dto.OrderDto">
        UPDATE  transaction
        SET

            order_status = 'cancelled'

        WHERE
            order_id = #{order_id}
    </update>
    <update id="acceptOrder" parameterType="com.freshshare.controller.Dto.OrderDto">
        UPDATE  transaction
        SET

            order_status = 'accepted'

        WHERE
            order_id = #{order_id}
    </update>
    <select id="selectOrderStatus" parameterType="com.freshshare.controller.Dto.OrderDto">
        SELECT
             *
        FROM
           transaction
        where
            order_id = #{order_id}
    </select>
    <select id="selectAllOrder" parameterType="com.freshshare.controller.Dto.OrderDto">


        SELECT
            transaction.order_id,
            transaction.customer_id,
            transaction.order_price,
            transaction.order_create_time,
            transaction.order_end_time,
            transaction.order_edit_time,
            transaction.order_status,
            transaction.business_id,
            review.review_context,
            review.review_star,
            business.business_username,  -- 新添加的字段，表示从business表中获取的商家用户名
            customer.customer_username  -- 新添加的字段，表示从customer表中获取的客户用户名
        FROM
            transaction
                LEFT JOIN review
                          ON transaction.order_id = review.order_id
                LEFT JOIN business  -- 左连接business表
                          ON transaction.business_id = business.business_id
                LEFT JOIN customer  -- 左连接customer表
                          ON transaction.customer_id = customer.customer_id;



    </select>
    <select id="selectOneOrderDetail" parameterType="com.freshshare.controller.Dto.OrderDto">
        SELECT
            *
        FROM
            order_detail
        where
            order_id = #{order_id}

    </select>



</mapper>